html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Aldrich', sans-serif;
	font-size: 22px;
	font-size: 22px;
	width: 100wh;
	color: rgba(102, 69, 69, 0.6);
}

header{
	position: fixed;
	top: 0;
	z-index: 200;
	left: 0;
	width: 100%;
	padding: 10px 100px;
	padding-left: 20px;
	box-sizing: border-box;
	transition: .5s;
}

header.white{
	background: linear-gradient(to right, rgb(7, 37, 56), #152c3a);
	color: #fff;
}

header .logo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fadfad;
	float: left;
}
.menu_bar{
	float: right;
	color: #fff;
	margin-top: 15px;
	display: none;
}

header ul{
	float: right;
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	transition: .5s ease;
}
header ul li{
	list-style: none;
	transition: .5s;
	border-radius: 5px;
}

header ul li a{
	color: white;
	line-height: 10px;
	font-size: 15px;
	cursor: pointer;
	padding: 15px 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}

header ul li a.active{
	background-color: #6e0583;
}

header ul li:hover{
	border-bottom-style: solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-color: #6e0583;
}

/* header ul li a.active,
header ul li a:hover{
	border-style: solid;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color: rgb(93, 226, 133);;
	border-bottom-width: 4px;
	border-bottom-color: rgb(93, 226, 133);;
} */

header #marker{
	position: absolute;
	height: 4px;
	width: 0;
	background: rgb(118, 248, 146);
	transition: .5s;
	border-radius: 4px;
	left: 0;
	bottom: -8px;
}

#home{
	width: 100%;
	height: 100vh;
	/*background-image: url(../images/background.jpg);*/
	background: radial-gradient(#363636, #6f6f70);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

/* Waves */

.profile{
	position: absolute;
	top: 100px;
	width: 300px;
	height: 300px;
	left: calc(50% - 150px);
	display: flex;
	align-items: center;
	justify-content: center;
}


.circle {
  height:200px;
  width:200px;
  border-radius:50%;
  background-color:rgb(87, 236, 137);
  
  position:relative;
  top:100px;
  left: calc(50% - 50px);
  
  -webkit-transition:height .25s ease, width .25s ease;
  transition:height .25s ease, width .25s ease;
  
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}


.circle:before,
.circle:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  border:1px solid rgb(93, 226, 133);
}

.circle:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.circle:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}


@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
  0% {transform:scale(1); }
  75% {transform:scale(1.75); opacity:1;}
  100% {transform:scale(2); opacity:0;}
}

.circle img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
#home .name{
	width: 100%;
    position: absolute;
    top: 60%;
    left: 0;
}

#home .name h1, #home .name h6{
	text-align: center;
    font-size: 70px;
    margin-bottom:0;
    background: -webkit-linear-gradient(#fafafa , #d9c0ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .name h6{
	font-size: 30px;
	margin-top: 0;
}


.about_container{
	display: flex;
	justify-content: flex-start;
}

.about_container .my_pic{
	width: 50%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.my_pic img{
	height: 400px;
}



.container{
	padding: 20px;
}

.section{
	padding: 20px;
}

.grid{
	display: flex;
	justify-content: flex-start;
}


.skill_card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 90%;
  padding: 10px 5px;
}

.skill_card .card_img{
	display: flex;
	justify-content: center;
	align-content: center;
}
.skill_card .edu_img{
	width: 100%;
}
.skill_card .edu_img img{
	width: 100%;
}
.skill_card .card_img img{
	height: 100px;
}
.skill_card h4{
	text-align: center;
	margin: 0;
}

.skill_card .stars{
	padding-top: 10px;
	text-align: center;
}

.skill_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(-20px);
}


.project_col{
	display: flex;
	justify-content: center;
}

.card{
	position: relative;
	height: 250px;
	background: #fff;
	display: flex;
	width: 60%;
	margin: 30px 0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card .imgBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	display: flex;
	z-index: 1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: 0.5s ease-in-out;
}

.card:hover .imgBox{
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: rgb(62, 163, 92);;
}

.card .imgBox:before{
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 5em;
	color: rgba(255,255,255,.06);
	font-weight: 700;
}

.card .imgBox img{
	position: absolute;
	top: 30px;
	max-width: 100px;
	transition: 0.5s ease-in-out;
}
.card:hover .imgBox img{
	max-width: 75px;
}
.card .content{
	position: absolute;
	right: 0;
	width: calc(100% - 110px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.card .content h3{
	margin-bottom: 5px;
	font-size: 24px;
	color: rgb(87, 245, 87);
}


.header{
    font-size: 72px;
    background: -webkit-linear-gradient(#070534 , #03cdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: 700;
	line-height: 100px;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.header i{
	color: blue;
	margin-right: 20px;
	font-style: 100px;
}


.contact_me{
	background-color: rgb(27, 20, 43);
}

.contact_me h3{
	color: #fff;
}

.contact_me p{
	color: rgba(223, 213, 213, 0.4);
}

.social_icons{
	padding: 10px 50px;
}
.social_icons i{
	font-size: 40px;
	margin-left: 20px;
	cursor: pointer;
}
.social_icons i:hover{
	color: rgb(103, 241, 163);
}


.footer-content{
	position: relative;
	height: 200px;
	background-image: linear-gradient(to left, rgb(25, 5, 31), #090041);
}

.footer-content h3{
	width: 100%;
	color: rgba(255, 255, 255, 0.692);
	text-align: center;
	position: absolute;
	bottom: 0;
}



/* Responsive Grids */

.row{
    max-width: 100wh;
    margin: 0 auto;
    grid-gap: 1rem;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-1, .col-2,.col-3, .col-4,.col-5, .col-6,.col-7, .col-8,.col-9, .col-10,.col-11, .col-12{
	float: left;
	margin-bottom: 2em;
}

@media (max-width: 900px) {
    .col-1, .col-2,.col-3, .col-4,.col-5, .col-6,.col-7, .col-8,.col-9, .col-10,.col-11, .col-12{
        width: 100%;
	}
	.card{
		width: 100%;
		height: 400px;
	}
	#home .name{
		top: calc(100% - 100px);
	}
	#home .name h1{
		font-size: 20px;
	}
	#home .name h6{
		font-size: 12px;
	}
	#my_mail{
		font-size: 15px;
	}

	.header{
		font-size: 50px;
	}
	header{
		padding-right: 15px;
	}
	header ul{
		display: none;
	}
	.menu_bar{
		display: block;
		cursor: pointer;
	}
	.menu_bar:hover + header ul{
		display: block;
	}
}